// Place all the styles related to the fixtures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	display: flex;
	justify-content: space-between;
}

.main {
	flex-grow: 3;
	flex-basis: 0;
}

.pick-container {
	display: block;
	margin: auto;
	width: 50%;
	text-align: center;
}

.sidebar {
	flex-grow: 1;
	flex-basis: 0;	
}

.styled-select {
	margin: auto;
	width: 300px;
	background: url("caret.png") no-repeat right;
	background-size: 30px 30px;
	background-position: 95% 10%;
}

.styled-select select {
	background: transparent;
	width: 300px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 1px solid #0B2E59;
	border-radius: 3px;
	height: 34px;
	-webkit-appearance: none;
}

input[type=submit] {
	width: 300px;
	font-size: 16px;
}