// Place all the styles related to the fixtures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.styled-select {
	background: image-url("caret.png") no-repeat right;
	background-size: 30px 30px;
	background-position: 95% 10%;
}